body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
}

section {
    padding: 1rem;
}
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"],
button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para el botón de volver al inicio */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    display: none;
}

/* Estilos adicionales para el botón, si lo deseas */
.back-to-top button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Mostrar el botón al hacer scroll */
body {
    scroll-behavior: smooth; /* Desplazamiento suave */
}

/* Mostrar el botón al hacer scroll */
/* Ajusta el valor de scroll para que el botón aparezca en el momento deseado */
/* En este ejemplo, el botón aparecerá cuando el scroll sea mayor a 300px */
/* Puedes ajustar este valor según tus necesidades */
@media screen and (min-height: 300px) {
    body {
        padding-bottom: 100px; /* Espacio para evitar que el botón se superponga al contenido */
    }

    .back-to-top {
        display: block;
    }
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
footer .social-links a {
    font-size: 30px;
}
